<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lalmondev.online_resume.dao.URDao">
    <resultMap id="urMap" type="com.lalmondev.online_resume.model.UREntity">
        <id column="tableid" property="tableid" />
        <result column="username" property="username" />
        <result column="resumeid" property="resumeid" />
        <result column="style" property="style" />
    </resultMap>
    <insert id="insertUREntity">
        <if test="urEntity != null">
            insert into ur_info
            (username,resumeid,style)
            values
            (#{urEntity.username},#{urEntity.resumeid},#{urEntity.style})
        </if>
    </insert>

    <update id="updateUREntity">
        update ur_info set username = #{urEntity.username},resumeid = #{urEntity.resumeid},style = #{urEntity.style}
        <where>
            resumeid = #{resumeid}
        </where>
    </update>

    <delete id="deleteUREntity" >
        delete from ur_info
        <where>
            resumeid = #{resumeid}
        </where>
    </delete>

    <select id="getResumeIdByUserName" resultMap="urMap">
        select * from ur_info
        <where>
            username = #{username}
        </where>
    </select>
</mapper>